name: meallink
description: "A new Flutter project."
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.10.4

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.8

  # --- ADDED FIREBASE DEPENDENCIES HERE ---
  firebase_core: ^3.10.1
  firebase_analytics: ^11.3.3
  # ----------------------------------------

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true